@tailwind base;
@tailwind components;
@tailwind utilities;

.nous-chat-widget {
    /* Add any custom styles for your widget here */
    .no-scrollbar {
        scrollbar-width: none;  /* Firefox */
        -ms-overflow-style: none;  /* IE and Edge */
      }
      
    .no-scrollbar::-webkit-scrollbar {
        display: none;  /* Chrome, Safari and Opera */
    }
}