.nous-chat-wdiget {
    all: initial; /* Reset all styles */
}
  
.nous-chat-wdiget * {
    all: unset; /* Reset all styles for child elements */
}

.nous-chat-widget {
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, Arial, sans-serif;
    font-size: 16px;

    /* Add any custom styles for your widget here */
    .no-scrollbar {
        scrollbar-width: none;  /* Firefox */
        -ms-overflow-style: none;  /* IE and Edge */
      }
      
    .no-scrollbar::-webkit-scrollbar {
        display: none;  /* Chrome, Safari and Opera */
    }

    .slide-fade-enter-active,
    .slide-fade-leave-active {
        transition: all 0.3s ease;
    }

    .slide-fade-enter-from,
    .slide-fade-leave-to {
        transform: translateY(20px);
        opacity: 0;
    }

    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 0.2s ease;
    }

    .fade-enter-from,
    .fade-leave-to {
        opacity: 0;
    }
}